{% extends 'base.html' %}

{% block content %}
<div style="margin: 50px 10%; text-align: center">
    <img src="static/typology.gif" alt="" align="middle" style='height:100px;'>
    <img src="static/youth.gif" alt="" align="middle" style='height:100px;'>
    <img src="static/science.gif" alt="" align="middle" style='height:100px;'>

    <p><a href="https://www.youngconfspb.com">Молодые типологи</a> -- питерская конференция для молодых типологов. Мы представляем размеченный корпус, состоящий из тезисов на русском языке, поданных на эту конференцию, начиная с 2007 года.</p>
</div>

<div style="margin: 50px 10%; text-align: center">
 <img src="static/creators.gif" alt="" align="middle" style='width:300px;'>
    </div>

    <div class="row" style="margin: 50px 10%">
   <div class="column" style="width: 33.33%;">
      <h3>Даша Сидоркина</h3>
<p>Разметка, поиск, дизайн</p>
    <img src="static/dasha1.jpg" alt="dasha" align="middle" style='height:300px;'>
        </div>
        
  <div class="column" style="width: 33.33%;">
      <h3>Катя Козлова</h3>
<p>Парсинг PDF, предобработка</p>
      <img src="static/katya.jpg" alt="katya" align="middle" style='height:300px;'>
        </div>
        
<div class="column" style="width: 33.33%;">
     <h3>Саша Шикунова</h3>
<p>Фронтенд, дизайн</p>
    <img src="static/sasha1.jpg" alt="sasha" align="middle" style='height:300px;'>
        </div>
</div>

{% endblock %}